<ul class="venues">
    <% @venues.each do |venue| %>
    <li>Venue: <%= venue.name %></li>
    <li>Latitude: <%= venue.latitude %></li>
    <li>Longitude: <%= venue.longitude %></li>
    <% end %>
</ul><!-- END OF VENUES LIST -->