<% @venues.each do |venue| %>
<div class="venues yep">
    <h2><%= venue.name %></h2>
    <span class="yep">Latitude: <%= venue.latitude %></span>
    <span class="yep">Longitude: <%= venue.longitude %></span>
</div><!-- END OF VENUES -->
<% end %>